<!DOCTYPE html>
<html lang="fr" ng-app = "testApp">
  <head charset="utf-8">
    <title>Test Angular JS</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Bienvenue sur ma fiche de revision !</h1>
    <p>Ceci est une page de test pour tester Angular JS.</p>

    <div ng-controller="contentController">
      <p>Entre une commande <input type="text" ng-model="name"/> puis sa definition <textarea ng-model="desc"></textarea> et clique sur le bouton <input type="button" value="Ajouter !" ng-click="addCommande()" /> pour l'ajouter a la liste.</p>
      <ul>
        <li ng-repeat = "com in list"><a href=""><span class="nameCom">{{ com.name }}</span> : <span class="descCom">{{ com.desc }}</span></a></li>
      </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
